@import url('https://fonts.googleapis.com/css?family=Maven+Pro|Roboto&display=swap');

.col-md-6 {
  padding: 0px;
}
.search-wrapper {
  position: fixed;
  z-index: 2;
  width: 50%;
}
.row {
  overflow: hidden;
  margin: 0px;
  margin-top: 60px;
  padding: 0px;
  .card {
    cursor: pointer;
    overflow: hidden;
    img {
      transition: all 1s;
      width: 100%;
      height: 40vh;
      object-fit: cover;
    }
    .card-img-overlay {
      background-image: linear-gradient(
        360deg,
        rgba(0, 0, 0, 0.5) 10%,
        rgba(0, 0, 0, 0.1)
      );
      .top {
        font-family: 'Roboto', 'sans-serif';
        h1 {
          font-size: 1.6em;
        }
        h5 {
          font-size: 1.2em;
        }
      }
      .bottom {
        font-family: 'Maven Pro', 'sans-serif';
      }
    }

    &:hover img {
      transform: scale(1.1);
    }
  }
}
