<div class="search-wrapper">
  <app-house-search></app-house-search>
  <div class="d-flex justify-content-end m-1">
    <span class="badge badge-pill badge-info"
      >listed hotels
      <span class="badge badge-light">{{ houses.length }}</span></span
    >
  </div>
</div>
<div class="row">
  <div class="col-md-6" *ngFor="let house of houses">
    <div class="card text-white">
      <img [src]="house.image" class="card-img" />
      <div class="card-img-overlay d-flex flex-column justify-content-between">
        <div class="top">
          <h1 class="address">{{ house.address }}</h1>
          <h5 class="street">{{ house.street }}</h5>
        </div>
        <div class="bottom d-flex justify-content-between">
          <p>
            {{ house.price | currency: 'Ksh' }}
          </p>
          <p>{{ house.capacity }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
