<div class="search-wrapper">
  <app-house-search (sendSearchText)="onSearch($event)"></app-house-search>
  <div class="d-flex justify-content-end m-1">
    <span class="badge badge-pill badge-info"
      >listed hotels
      <span class="badge badge-light">{{ houses.length }}</span></span
    >
  </div>
</div>
<div class="row">
  <div class="col-md-6" *ngFor="let house of houses | filterHouse: searchText">
    <div class="card text-white" (click)="openHotelDetails(house)">
      <img [src]="house.image" class="card-img" />
      <div class="card-img-overlay d-flex flex-column justify-content-between">
        <div class="top">
          <h1 class="address">{{ house.address }}</h1>
          <h5 class="street">{{ house.street }}</h5>
        </div>
        <div class="bottom d-flex justify-content-between">
          <p class="text-light font-weight-bold">
            {{ house.price | currency: 'Ksh' }}
          </p>
          <p>
            <span class="badge badge-pill badge-info d-flex"
              ><span class="badge badge-light">{{ house.rating }}</span>
              <app-star [rating]="house.rating"></app-star
            ></span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
