@import url('https://fonts.googleapis.com/css?family=Maven+Pro|Roboto&display=swap');

.row {
  .card {
    cursor: pointer;
    overflow: hidden;
    img {
      transition: all 1s;
    }
    .card-img-overlay {
      background-image: linear-gradient(
        360deg,
        rgba(0, 0, 0, 0.5) 10%,
        rgba(0, 0, 0, 0.1)
      );
      .top {
        font-family: 'Roboto', 'sans-serif';
      }
      .bottom {
        font-family: 'Maven Pro', 'sans-serif';
      }
    }

    &:hover img {
      transform: scale(1.1);
    }
  }
}
