.progressbar-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  z-index: 999;
  mat-progress-bar {
    color: orange;
  }
}
.active {
  // border-bottom: 1px solid white;
}
