.container-fluid {
  margin-top: 60px;
  .main {
    overflow-x: hidden;

    .map {
      position: fixed;
      width: 60%;
      margin: 1px;
    }
    .houses {
      margin-left: 60%;
      width: 40%;
    }
  }
}
